@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box {
    width: 285px;
    height: 385px;
    background-image: conic-gradient(from var(--angle),transparent 40%, #ff00bf,#1105FF);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 10s spin linear infinite;
}



@keyframes spin {
    from {
        --angle : 0deg;
    }
    to {
        --angle : 360deg;
    }
}